@model curmudgeon.Models.ApplicationUser
@{
    ViewData["Title"] = "Curmudgeon - User Info for " + Model.DisplayName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.DisplayName</h3>
<h4>Recent Posts</h4>
