<!DOCTYPE html>
<script src="~/scripts/jquery-3.2.1.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Chivo|Vesper+Libre:700" rel="stylesheet">
</head>
<body>
    @await Component.InvokeAsync(nameof(curmudgeon.Components.TopNavBarComponent))

    <div>
        @RenderBody()
    </div>
</body>
</html>

