<!DOCTYPE html>
<script src="~/scripts/jquery-3.2.1.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        curmudgeon |    
        @if (User.Identity.IsAuthenticated)
        {@Html.ActionLink("Log Out", "LogOff", "Users")} | <a href="~/Posts">View your Posts</a>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
