@model IEnumerable<curmudgeon.Models.Tag>
@{
    ViewData["Title"] = "Tags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Popular Tags</h2>
<ul>
    @foreach (var tag in Model)
    {
        
    }
</ul>
