@model curmudgeon.ViewModels.TagsReadViewModel
@{
    ViewData["Title"] = "Posts tagged with ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posts tagged under "@Model.TagName"</h2>
<ul>
    @foreach (var post in Model.Posts)
    {
        <li>@Html.ActionLink(post.Title, "Read", "Posts", new { id = post.PostId }) </li>
    }
</ul>

@if (Model.Paginator.EndPage > 1)
{
    <ul>
        @if (Model.Paginator.CurrentPage > 1)
        {
            <li>
                <a href="~/Tags/Read/@Model.TagName">First</a>
            </li>
            <li>
                <a href="~/Tags/Read/@Model.TagName?page=@(Model.Paginator.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (var page = Model.Paginator.StartPage; page <= Model.Paginator.EndPage; page++)
        {
            <li class="@(page == Model.Paginator.CurrentPage ? "active" : "")">
                <a href="~/Tags/Read/@Model.TagName?page=@page">@page</a>
            </li>    }

        @if (Model.Paginator.CurrentPage < Model.Paginator.TotalPages)
        {
            <li>
                <a href="~/Tags/Read/@Model.TagName?page=@(Model.Paginator.CurrentPage + 1)">Next</a>
            </li>
            <li>
                <a href="~/Tags/Read/@Model.TagName?page=@(Model.Paginator.TotalPages)">Last</a>
            </li>
        }
    </ul>
}