@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <title>Curmudgeon: The sharing platform for reclusive luddites</title>
</head>
<body>
    <h2>Curmudgeon!</h2>
</body>
</html>